html{
    font-family: sans-serif;
    margin: 1em;
}
p{
    text-indent: 1em;
}
h1,h2,h3{
    text-align: center;
}
h1{
    font-size: 1.8rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 1.2rem;
}
.explanation,.preamble{
text-align: right;
}
p>.explanation{
line-height: 1.5rem;
}
abbr{
    font-variant: small-caps;
}

.page-wrapper{
    width: 80%;
    max-width: 1280px;
    margin: auto;
}
#zen-intro{
    height:550px;
}
#design-archives{
    display: none;
}
#zen-intro header{
    background-color:rgb(20, 20, 20);
    color: azure;
}
#zen-intro header h1, #zen-intro header h2{
    display: inline-block;
}
#zen-intro header h1{
    margin: 0rem 1em;
}
aside ul{
list-style-type: none;
}
aside ul li{
    margin: 1em;
    text-align: center;
}
footer{
    margin: 4%;
}
footer a{
    padding: 0.5em;
    border: solid 2px black;
}
